body {
  font-size: 20px;
  font-family: "Orbitron", sans-serif !important;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  body .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    body .main .calc {
      max-width: 100%;
      width: 600px;
      border-radius: 8px;
      background: #e4e4e4;
      display: flex;
      flex-flow: column;
      box-shadow: 0px 0px 41px #2f2f2f; }
      body .main .calc .display {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box; }
        body .main .calc .display .top {
          height: auto;
          min-height: 50px; }
        body .main .calc .display #lastOperation {
          font-size: 24px;
          overflow: auto;
          color: #5f5f5f; }
        body .main .calc .display #result {
          font-size: 32px;
          overflow: hidden;
          justify-content: flex-end;
          display: flex;
          padding-top: 15px; }
      body .main .calc .buttons {
        width: 100%;
        display: flex;
        flex-flow: row wrap; }
        body .main .calc .buttons .button {
          box-sizing: border-box;
          font-size: 30px;
          font-weight: 600;
          transition: 300ms;
          font-family: 'Orbitron', sans-serif; }
          body .main .calc .buttons .button:hover {
            background-color: #ececec;
            transform: scale(1.02); }
        body .main .calc .buttons .number {
          width: 25%;
          height: 80px; }
        body .main .calc .buttons .extrasize {
          width: 50%; }
        body .main .calc .buttons .operator {
          background-color: #c3deff; }
  body ::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  body ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px; }
  body ::-webkit-scrollbar-thumb {
    background: #524d4d;
    border-radius: 10px; }
  body ::-webkit-scrollbar-thumb:hover {
    background: #1d1d1d; }
