body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  max-height: 100vh;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent; }
  body .buttons {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 111;
    position: absolute; }
    body .buttons button {
      margin: 10px;
      width: 200px; }
    body .buttons #start {
      background-color: seagreen; }
  body .popup-level {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 80px;
    text-align: center;
    cursor: url(../images/Crosshair.cur), pointer; }
    @media all and (max-width: 800px) {
      body .popup-level {
        font-size: 40px; } }
    body .popup-level #nextLevel {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
 body .popup {
    background-color: #000000b5;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 11; }
    body .popup .score {
      width: 1000px;
      min-height: 200px;
      background-color: black;
      left: calc(50% - 534px);
      position: relative;
      top: 200px;
      border: green 13px double;
      border-radius: 16px;
      padding: 20px;
      color: blueviolet;
      text-align: center;
      height: 480px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column; }
      @media all and (max-width: 1100px) {
        body .popup .score {
          font-size: 10px;
          top: 10px;
          width: 100%;
          height: 90%;
          left: 0; } }
      body .popup .score .exit {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 40px;
        height: 40px; }
      body .popup .score .exit:before {
          content: '';
          position: absolute;
          right: 16px;
          top: -5px;
          background-color: green;
          width: 5px;
          height: 50px;
          transform: rotate(45deg); }
        body .popup .score .exit:after {
          content: '';
          position: absolute;
          right: 16px;
          top: -5px;
          background-color: green;
          width: 5px;
          height: 50px;
          transform: rotate(-45deg); }
      body .popup .score #scoreForm input {
        margin: 20px;
        background-color: black;
        border: green 3px solid;
        color: white;
        border-radius: 6px;
        padding: 10px;
        font-family: 'Press Start 2P', cursive; }
        @media all and (max-width: 800px) {
          body .popup .score #scoreForm input {
            width: 226px;
            margin: 10px; } }
      body .popup .score #scoreForm .count {
        font-size: 35px;
        text-align: center;
        margin: 0 30px; }
      body .popup .score .score-table {
        justify-content: center;
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-evenly; }
        @media all and (max-width: 1100px) {
          body .popup .score .score-table {
            flex-flow: column;
            align-items: center; } }
        body .popup .score .score-table .score-table .row {
          width: 33%; }
          @media all and (max-width: 1100px) {
            body .popup .score .score-table .score-table .row {
              width: 100%; } }
          body .popup .score .score-table .score-table .row table {
            margin: auto;
            color: blueviolet; }
  body .game {
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: #3cbcfc;
    cursor: url(../images/Crosshair.cur), pointer;
    -webkit-tap-highlight-color: transparent; }
    body .game .points {
      width: 100px;
      height: 10ox;
      height: 30px;
      position: absolute;
      display: none; }
    body .game .random-block {
      position: relative;
      display: none;
      top: 100%;
      width: 100px;
      height: 73px; }
      body .game .random-block .target {
        width: 100px;
        height: 73px;
        background-image: url(../images/duck1.png);
        background-size: 100px 75px;
        background-repeat: no-repeat;
        animation-name: duck, moves;
        animation-duration: 1s, 3s;
        animation-iteration-count: infinite, infinite;
        animation-timing-function: cubic-bezier(1, 0, 0, 1), ease;
        -webkit-tap-highlight-color: transparent; }
        body .game .random-block .target .headshot {
          width: 35px;
          height: 16px;
          position: relative;
          left: 61px;
          top: 16px; }

@keyframes duck {
  from {
    background-image: url(../images/duck1.png); }
  to {
    background-image: url(../images/duck2.png); } }
    body .game .grass {
      background-image: url(../images/grass.png);
      position: absolute;
      bottom: 0px;
      background-repeat: repeat-x;
      width: 100%;
      height: 260px;
      justify-content: center;
      display: flex;
      align-items: flex-end; }
      body .game .grass .shot {
        background-color: black;
        color: white;
        padding: 5px;
        width: 70px;
        text-align: center;
        border: #80d010 3px solid;
        border-radius: 8px;
        position: relative;
        bottom: 20px; }
        body .game .grass .shot p {
          margin: 0;
          color: #3cbcfc; }
      body .game .grass .hit {
        background-color: black;
        color: white;
        padding: 5px;
        width: 150px;
        text-align: end;
        border: #80d010 3px solid;
        border-radius: 8px;
        position: relative;
        bottom: 20px;
        margin: 0 20px; }
        body .game .grass .hit p {
          margin: 0;
          color: #80d010; }
      body .game .grass .count {
        background-color: black;
        color: white;
        padding: 5px;
        width: 150px;
        text-align: end;
        border: #80d010 3px solid;
        border-radius: 8px;
        position: relative;
        bottom: 20px; }
        body .game .grass .count p {
          margin: 0; }
  body button {
    margin: 0 15px;
    border-radius: 4px;
    background-color: grey;
    font-family: 'Press Start 2P', cursive;
    color: black;
    padding: 10px; }
  body .interactive {
    display: flex !important; }
  body .visible {
    display: flex !important; }
  body .center {
    text-align: center; }
  body .hidden {
    display: none; }
  body th, body td {
    color: blueviolet; }
    @media all and (max-width: 1100px) {
      body th, body td {
        font-size: 12px; } }
