body{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}
.clock{
    background-color: blue;
    height: 100px;
    justify-content: center;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    align-items: center;
}
.time{
  font-size: 35px;
  text-align: center;
}
.sec{
  height: 250px;
width: 4px;
background-color: red;
position: relative;
}
.run{
  background-color: red!important;
}
#start{
  background-color: seagreen;
}
.game{
  width: 100%;
  height: 90%;
  background-color: #242424;
  cursor: url(../images/Crosshair.cur), pointer;
}
.random-block{
  position: relative;
  display: none;
  max-width: 100px;
}
button{
    margin: 0 15px;
    border-radius: 4px;
    background-color: grey;
    font-family: 'Press Start 2P', cursive;
    color: black;
    padding: 10px;
}
.interactive{
  display: flex!important;
}
.top{
    width: 100%;
    justify-content: center;
    flex-flow: row;
    display: flex;
}
.count{
  font-size: 35px;
  text-align: center;
  margin: 0 30px;
}
.target{
  width: 100px;
  height: 100px;
  padding-top: 20px;
  animation:1s infinite linear ;
}
@keyframes move {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}
.popup{
    background-color: #000000b5;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.score{
    width: 1000px;
    min-height: 200px;
    background-color: black;
    left: calc(50% - 500px);
    position: relative;
    top: 200px;
    border: green 13px double;
    border-radius: 16px;
    padding: 20px;
    color: blueviolet;
    text-align: center;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
input{
    margin: 20px;
    background-color: black;
    border: green 3px solid;
    color: white;
    border-radius: 6px;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
}
#sendScore{

}
.visible{
  display: flex!important;
}
#scoreForm{

}
.score-table{
  justify-content: center;
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-evenly;
}
}
.row{
  width: 33%;
}
th, td{
    color: blueviolet;
}
table{
  margin: auto;
}
.center{
  text-align: center;
}
.exit{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
}
.exit::before{
  content: '';
    position: absolute;
    right: 16px;
    top: -5px;
    background-color: green;
    width: 5px;
    height: 50px;
    transform: rotate(45deg);
}
.exit::after{
  content: '';
    position: absolute;
    right: 16px;
    top: -5px;
    background-color: green;
    width: 5px;
    height: 50px;
    transform: rotate(-45deg);
}
.hidden{
  display: none;
}