d
html, body {
  margin: 0px;
  padding: 0;
  background-color: transparent;
  color: white;
  transition-duration: 1s;
  scroll-behavior: smooth; }

@media all and (max-width: 800px) {
  body {
    overflow: auto; } }

p, li, a {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  z-index: 111; }

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.container {
  min-height: 100vh;
  margin-left: 250px; }
  @media all and (max-width: 1090px) {
    .container {
      margin-left: 0px; } }

header {
  display: flex;
  position: fixed;
  z-index: 111111;
  width: 225px;
  height: 100%; }
  @media all and (max-width: 1090px) {
    header {
      width: 100%;
      height: auto; } }
  header .menu {
    display: flex;
    flex-flow: column;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    transition: 500ms; }
    @media all and (max-width: 1090px) {
      header .menu {
        padding: 100px 25px;
        margin: 0;
        flex-flow: column;
        z-index: 1000;
        position: fixed;
        height: 100%;
        background-color: black;
        flex-flow: column;
        justify-content: end;
        transform: translatex(-400px); } }
  header .menu-expanded {
    transform: translatex(0px); }
  header ul li {
    list-style: none;
    text-decoration: none;
    margin: 0px 17px;
    padding-top: 30px;
    font-size: 20px;
    transition-duration: 300ms; }
    header ul li:hover {
      border-bottom: 3px solid  white; }
    header ul li:active {
      border-bottom: 3px solid white !important; }
    header ul li a {
      color: whitesmoke;
      text-decoration: none;
      font-weight: 900;
      font-size: 24px;
      background: transparent;
      border: none;
      outline: none !important;
      transition-duration: 300ms;
      padding: 30px 15px 50px 15px; }
      header ul li a:hover {
        color: white; }
  header .bnt-hover {
    position: absolute;
    right: 40px;
    top: 50px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    border-top: white 4px;
    box-sizing: border-box;
    border-style: solid;
    box-sizing: border-box;
    display: none;
    padding: 0px;
    transition: 300ms;
    outline: 0;
    z-index: 1; }
    @media all and (max-width: 1090px) {
      header .bnt-hover {
        display: flex; } }
    @media all and (max-width: 500px) {
      header .bnt-hover {
        right: 15px;
        top: 50px; } }
    header .bnt-hover:before {
      content: '';
      background-color: white;
      width: 90%;
      right: 0;
      top: 16px;
      position: absolute;
      height: 4px;
      transform: translateY(-8px);
      transition: 300ms; }
    header .bnt-hover:after {
      content: '';
      background-color: white;
      width: 100%;
      height: 4px;
      top: 15px;
      transform: translateY(6px);
      position: absolute;
      transition: 300ms; }
    header .bnt-hover.expanded {
      border-top: 0px;
      transition: 300ms;
      position: fixed; }
      header .bnt-hover.expanded.bnt-hover::after {
        transform: rotate(-45deg);
        width: 110%;
        right: -2px; }
      header .bnt-hover.expanded.bnt-hover::before {
        transform: rotate(45deg);
        width: 110%;
        right: -2px; }

.about-me {
  position: relative; }
  .about-me .header-about p {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 30px;
    text-shadow: 1px 0px #ababab; }
    @media all and (max-width: 460px) {
      .about-me .header-about p {
        font-size: 36px;
        padding: 40px 30px;
        text-align: start; } }
  .about-me .portrait {
    width: 600px;
    position: absolute;
    right: 50%;
    bottom: 0;
    z-index: 10; }
    @media all and (max-width: 850px) {
      .about-me .portrait {
        width: 300px;
        left: calc(50% - 150px); } }
  .about-me .chat {
    z-index: 111111;
    width: 500px;
    height: auto;
    min-height: 75px;
    position: absolute;
    right: calc(50% - 400px);
    bottom: 360px;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
    box-shadow: 8px 10px 51px black;
    border-radius: 30px;
    background: linear-gradient(125deg, #ffffff 0%, #ffffff 50%, #c1c1c1 100%);
    transform: scale(0);
    transition-duration: 300ms;
    animation: buble ease-in-out 2500ms 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    color: black; }
    @media all and (max-width: 1070px) {
      .about-me .chat {
        right: 40px; } }
    @media all and (max-width: 850px) {
      .about-me .chat {
        background: linear-gradient(164deg, #c1c1c1 0%, #ffffff 50%, #ffffff 100%);
        bottom: 314px; } }
    @media all and (max-width: 580px) {
      .about-me .chat {
        width: 96%;
        right: 2%; } }
    .about-me .chat::before {
      content: '';
      position: absolute;
      right: 511px;
      z-index: 0;
      bottom: 17px;
      transform: rotateZ(118deg);
      border-width: 95px 20px 0px;
      border-style: solid;
      border-color: white transparent;
      display: block; }
      @media all and (max-width: 850px) {
        .about-me .chat::before {
          bottom: -68px !important;
          right: 81px;
          transform: rotateZ(26deg);
          border-width: 78px 14px 0px; } }
    .about-me .chat .checked {
      background-color: #d4d4d4 !important; }
    .about-me .chat .chat-button {
      z-index: 1;
      border-radius: 10px;
      background-color: transparent;
      border: none;
      padding: 5px 15px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
      text-decoration: none;
      color: black;
      transition-duration: 200ms;
      margin: 4px 4px; }
      .about-me .chat .chat-button:focus {
        outline: none !important; }
      .about-me .chat .chat-button:hover {
        box-shadow: 1px 1px 4px black; }
    .about-me .chat #chat-span {
      margin-bottom: 15px; }
    .about-me .chat span {
      font-family: "Montserrat", sans-serif;
      position: relative; }
      @media all and (max-width: 850px) {
        .about-me .chat span {
          font-size: 13px; } }

@keyframes buble {
  0% { }
  13% {
    transform: scale(1); }
  15% {
    transform: scale(1.02); }
  20% {
    transform: scale(1); }
  25% {
    transform: scale(1.01); }
  30% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

.technologies {
  display: flex;
  flex-flow: wrap;
  margin-left: 0px; }
  .technologies .stack {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    width: 100%;
    height: 81px;
    z-index: 11;
    margin-left: 250px; }
    @media all and (max-width: 1090px) {
      .technologies .stack {
        margin-left: 0; } }
    @media all and (max-width: 780px) {
      .technologies .stack {
        font-size: 40px;
        height: 130px;
        padding-right: 63px; } }
    .technologies .stack .typed2 {
      font-family: "Montserrat", sans-serif; }
  .technologies .swiper-container {
    align-self: flex-start;
    height: 90vh; }
    .technologies .swiper-container .swiper-wrapper {
      z-index: 111111;
      position: relative;
      width: 100%;
      height: 100%;
      align-self: flex-start; }
      .technologies .swiper-container .swiper-wrapper .single-tech {
        border-radius: 10px;
        height: 350px;
        width: 700px;
        display: flex;
        margin: auto;
        flex-flow: column;
        background-color: rgba(78, 78, 78, 0.788); }
        @media all and (max-width: 1030px) {
          .technologies .swiper-container .swiper-wrapper .single-tech {
            width: 500px;
            height: 360px; } }
        @media all and (max-width: 650px) {
          .technologies .swiper-container .swiper-wrapper .single-tech {
            width: 300px;
            height: 350px; } }
        @media all and (max-width: 400px) {
          .technologies .swiper-container .swiper-wrapper .single-tech {
            width: 200px;
            height: 300px; } }
        .technologies .swiper-container .swiper-wrapper .single-tech .text {
          box-sizing: border-box;
          padding: 113px 40px 25px;
          width: calc(50% - 50px);
          text-align: center;
          margin: auto;
          width: 100%;
          height: 100%;
          position: absolute; }
          @media all and (max-width: 560px) {
            .technologies .swiper-container .swiper-wrapper .single-tech .text {
              width: 100%;
              padding: 60px 10px; } }
          .technologies .swiper-container .swiper-wrapper .single-tech .text .title {
            font-size: 30px;
            padding: 10px; }
            @media all and (max-width: 650px) {
              .technologies .swiper-container .swiper-wrapper .single-tech .text .title {
                font-size: 20px; } }
          .technologies .swiper-container .swiper-wrapper .single-tech .text .description {
            font-size: 18px; }
            @media all and (max-width: 650px) {
              .technologies .swiper-container .swiper-wrapper .single-tech .text .description {
                font-size: 14px; } }
            .technologies .swiper-container .swiper-wrapper .single-tech .text .description a {
              color: white !important; }
        .technologies .swiper-container .swiper-wrapper .single-tech .logo {
          position: relative;
          transform: translatey(-50%);
          margin-left: calc(50% - 100px);
          z-index: 11; }
          @media all and (max-width: 560px) {
            .technologies .swiper-container .swiper-wrapper .single-tech .logo {
              margin-left: calc(50% - 50px); } }
          .technologies .swiper-container .swiper-wrapper .single-tech .logo img {
            width: 200px;
            filter: brightness(0.8);
            transition-duration: 300ms; }
            @media all and (max-width: 560px) {
              .technologies .swiper-container .swiper-wrapper .single-tech .logo img {
                filter: brightness(1);
                width: 100px; } }
            .technologies .swiper-container .swiper-wrapper .single-tech .logo img:hover {
              transform: scale(1.2);
              filter: brightness(1) !important; }
  .technologies .right {
    flex-flow: row-reverse; }
    .technologies .right .text {
      text-align: start; }

@media all and (max-width: 830px) {
  .projects {
    height: max-content;
    min-height: unset; } }

.projects .projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  overflow: hidden; }
  .projects .projects-container .project {
    z-index: 11;
    display: flex;
    margin: 12px;
    width: 527px;
    height: 300px;
    overflow: visible;
    transition-duration: 300ms; }
    @media all and (max-width: 1360px) {
      .projects .projects-container .project {
        width: 390px;
        height: 236px; } }
    .projects .projects-container .project img {
      width: 100%;
      position: initial !important;
      z-index: 1111; }
    .projects .projects-container .project .live {
      display: none;
      position: absolute;
      z-index: 111111;
      width: 0%;
      height: 0%;
      transition-duration: 1s;
      justify-content: center;
      font-size: 28px;
      left: 50%;
      top: 50%;
      text-align: center;
      justify-content: center;
      align-items: center;
      transition-duration: 1s; }
      .projects .projects-container .project .live a {
        color: transparent;
        text-decoration: none;
        padding: 0px; }
      .projects .projects-container .project .live img {
        width: 40px;
        height: 40px; }
    .projects .projects-container .project .visible {
      display: inline;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      left: 0%;
      top: 0%;
      text-align: center;
      justify-content: center;
      align-items: center;
      transition-duration: 1s; }
      .projects .projects-container .project .visible a {
        color: white;
        text-shadow: 10px 10px 12px black;
        font-weight: 700; }
        .projects .projects-container .project .visible a:hover {
          color: #cdcdcd;
          transition-duration: 300ms;
          font-weight: 900; }
  .projects .projects-container .expanded {
    transform: perspective(0px) rotateX(0deg) rotateY(10deg) scale3d(1, 1, 1) !important;
    overflow: visible; }

.contact form {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center; }
  .contact form .header-form {
    display: flex;
    padding: 60px;
    justify-content: center; }
    @media all and (max-width: 600px) {
      .contact form .header-form {
        padding: 15px 0 35px 0; } }
    .contact form .header-form .arrow2 {
      width: 69px;
      position: relative;
      left: 16px;
      top: 40px;
      animation: arrow1 7s linear 2s infinite alternate; }
      @media all and (max-width: 600px) {
        .contact form .header-form .arrow2 {
          animation: arrow2 7s linear 2s infinite alternate;
          top: 24px;
          width: 40px; } }

@keyframes arrow1 {
  0% {
    transform: rotate(-4deg); }
  3% {
    transform: rotate(4deg); }
  6% {
    transform: rotate(-4deg); }
  9% {
    transform: rotate(4deg); }
  12% {
    transform: rotate(-4deg); }
  15% {
    transform: rotate(4deg); }
  20% {
    transform: rotate(0deg); }
  70% {
    top: 38px; }
  73% {
    top: 43px; }
  76% {
    top: 38px; }
  79% {
    top: 43px; }
  82% {
    top: 38px; }
  85% {
    top: 43px; }
  90% {
    top: 40px; }
  100% {
    transform: rotate(0deg); } }

@keyframes arrow2 {
  0% {
    transform: rotate(-4deg); }
  3% {
    transform: rotate(4deg); }
  6% {
    transform: rotate(-4deg); }
  9% {
    transform: rotate(4deg); }
  12% {
    transform: rotate(-4deg); }
  15% {
    transform: rotate(4deg); }
  20% {
    transform: rotate(0deg); }
  70% {
    top: 23px; }
  73% {
    top: 27px; }
  76% {
    top: 23px; }
  79% {
    top: 27px; }
  82% {
    top: 23px; }
  85% {
    top: 27px; }
  90% {
    top: 24px; }
  100% {
    transform: rotate(0deg); } }
    .contact form .header-form p {
      font-size: 50px; }
      @media all and (max-width: 600px) {
        .contact form .header-form p {
          font-size: 35px; } }
  .contact form .form {
    display: flex;
    flex-flow: column; }
    .contact form .form .field {
      padding: 20px;
      height: 44px;
      width: 600px;
      margin: 12px auto;
      border-radius: 32px;
      z-index: 1; }
      .contact form .form .field:focus {
        outline-offset: 0;
        outline: none; }
      @media all and (max-width: 700px) {
        .contact form .form .field {
          width: 90%; } }
    .contact form .form .text {
      width: 800px;
      height: 150px;
      resize: none; }
      @media all and (max-width: 870px) {
        .contact form .form .text {
          width: 90%; } }
    .contact form .form input::placeholder {
      font-family: "Montserrat", sans-serif;
      color: black; }
    .contact form .form .typed-cursor {
      display: none !important; }
    .contact form .form .form-field {
      margin: auto;
      display: flex;
      flex-flow: row-reverse;
      color: black; }
      @media all and (max-width: 700px) {
        .contact form .form .form-field {
          width: 90%; } }
      .contact form .form .form-field input:focus ~ .floating-label,
      .contact form .form .form-field input:not(:focus):valid ~ .floating-label {
        top: -8px;
        bottom: 100px;
        left: 22px;
        font-size: 11px;
        opacity: 1;
        font-family: "Montserrat", sans-serif;
        color: white; }
      .contact form .form .form-field .inputText {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        color: black; }
      .contact form .form .form-field .floating-label {
        position: relative;
        pointer-events: none;
        left: 22px;
        top: 25px;
        width: 0px;
        transition: 0.2s ease all;
        font-family: "Montserrat", sans-serif;
        color: black;
        z-index: 11; }
        @media all and (max-width: 700px) {
          .contact form .form .form-field .floating-label {
            left: 45px;
            color: black; } }
      .contact form .form .form-field .error {
        border-color: red; }
    .contact form .form p {
      margin: auto;
      font-size: 25px; }
    .contact form .form .buttons {
      margin: auto; }
      .contact form .form .buttons .btn {
        position: relative;
        height: 34px;
        width: 200px;
        margin: 10px;
        background-color: white;
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        transition-duration: 300ms;
        margin-bottom: 50px; }
        .contact form .form .buttons .btn:hover {
          background-color: #a3a3a3; }
        @media all and (max-width: 600px) {
          .contact form .form .buttons .btn {
            width: 125px; } }

.hidden {
  display: none; }
