
body{
    font-size: 20px;
    font-family: 'Orbitron', sans-serif!important;
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .calc{
            max-width: 100%;
            width: 600px;
            border-radius: 8px;
            background: #e4e4e4;
            display: flex;
            flex-flow: column;
            box-shadow: 0px 0px 41px #2f2f2f;
            .display{
                width: 100%;
                height: 100%;
                padding: 10px;
                box-sizing: border-box;
                .top{
                    height:auto;
                    min-height: 50px;
                }
                #lastOperation{
                    font-size: 24px;
                    overflow: auto;
                    color: #5f5f5f;
                }
                #result{
                    font-size: 32px;
                    overflow: hidden;
                    justify-content: flex-end;
                    display: flex;
                    padding-top: 15px;
                }
            }
            .buttons{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                .button{
                    box-sizing: border-box;
                    font-size: 30px;
                    font-weight: 600;
                    transition: 300ms;
                    font-family: 'Orbitron', sans-serif;
                    &:hover{
                        background-color: #ececec;
                        transform: scale(1.02);
                    }
                }
                .number{
                    width: 25%;
                    height:80px
                }
                .extrasize{
                    width: 50%;
                }
                .operator{
                    background-color: #c3deff;
                }
            }
        }
    }
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #524d4d; 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #1d1d1d; 
      }
}

