$main-grey :#7D7F80;
$dark-grey : #2D3032;
$light-grey : #D2D3D3;
$line : purple;

$main-font: 'Montserrat', sans-serif;
d
html, body {
margin: 0px;
padding: 0;
background-color: transparent;
color: white;
transition-duration: 1s;
scroll-behavior: smooth;
}
body{

    @media all and (max-width:800px){
        overflow: auto;
    }
}
p,li,a{
    font-family: $main-font;
    margin: 0;
    z-index: 111;
}

#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

.container{      
    min-height: 100vh;
    margin-left: 250px;
    @media all and (max-width:1090px){
     margin-left: 0px; 
    }
}


header {
    display: flex;
    position: fixed;
    z-index: 111111;
    width: 225px;
    height: 100%;
    @media all and (max-width:1090px){
        width: 100%;
        height: auto;
    }
    .menu{
    display: flex;
    flex-flow: column;
    height: 50px;
    font-family: $main-font;
    transition: 500ms;
    @media all and (max-width:1090px){
        padding: 100px 25px;
        margin: 0;
        flex-flow: column;
        z-index: 1000;
        position: fixed;
        height: 100%;
        background-color: black;
        flex-flow: column;
        justify-content: end;
        transform: translatex(-400px);
        
        }
    }
    .menu-expanded{
        transform: translatex(0px);
    }
    ul{
        li{
            list-style: none;
            text-decoration: none;
            margin: 0px 17px;
            padding-top: 30px;
            font-size: 20px;
            transition-duration: 300ms;
            &:hover{
                border-bottom: 3px solid  white;
            }
            &:active{
                border-bottom: 3px solid  white!important;
            }
            
            a{
                color: whitesmoke;
                text-decoration: none;
                font-weight: 900;
                font-size: 24px;

                background: transparent;
                border: none;
                outline: none!important;
                transition-duration: 300ms;
                padding: 30px 15px 50px 15px;
                &:hover{
                    color: white;
                }
            }
        }
    }
    .bnt-hover{
        position: absolute;
        right: 40px;
        top: 50px;
        width: 40px;
        height: 40px;
        background-color:transparent;
        border: 0;
        border-top: white 4px;
        box-sizing: border-box;
        border-style: solid;
        box-sizing: border-box;
        display: none;
        padding: 0px;
        transition: 300ms ;
        outline: 0;
        z-index: 1;
        @media all and (max-width:1090px){
         display:flex; 
        }
        @media all and (max-width:500px){
            right: 15px;
            top: 50px;
        }
        &:before{
            content: '';
            background-color: white;
            width: 90%;
            right: 0;
            top: 16px;
            position: absolute;
            height: 4px;
            transform: translateY(-8px);
            transition: 300ms;
            
        }
        &:after{
            content: '';
            background-color: white;
            width: 100%;
            height: 4px;
            top: 15px;
            transform: translateY(6px);
            position: absolute;
            transition: 300ms;
        }
        &.expanded{
            border-top: 0px;
            transition: 300ms;
            position: fixed;
            &.bnt-hover::after{
                transform: rotate(-45deg);
                width: 110%;
                right: -2px;
            }
            &.bnt-hover::before{
                transform: rotate(45deg);
                width: 110%;
                right: -2px;

            }
        }
    }
}



.about-me{
    position: relative;
    .header-about{
        p{
            font-size: 50px;
            color: white;
            text-align: center;
            margin: auto;
            padding: 30px;
            text-shadow: 1px 0px #ababab;
            @media all and (max-width:460px){
                font-size: 36px;
                padding: 40px 30px;
                text-align: start;
            }
        }
    }
    .portrait{
        width: 600px;
        position: absolute;
        right: 50%;
        bottom: 0;
        z-index: 10;
        @media all and (max-width:850px){
            width: 300px;
            left: calc(50% - 150px);
        }
    }
    .chat{
        z-index: 111111;
        width: 500px;
        height: auto;
        min-height: 75px;
        position: absolute;
        right: calc(50% - 400px);
        bottom: 360px;
        padding: 20px 20px 0px 20px;
        box-sizing: border-box;
        box-shadow: 8px 10px 51px black;
        border-radius: 30px;
        background: linear-gradient(125deg, #ffffff 0%, #ffffff 50%, #c1c1c1 100%);
        transform: scale(0);
        transition-duration: 300ms;
        animation: buble ease-in-out 2500ms 1;
        animation-direction: normal;
        animation-fill-mode: forwards ;
        animation-delay: 1s;
        color: black;
        @media all and (max-width:1070px){
            right: 40px;
        }
        @media all and (max-width:850px){
            background: linear-gradient(164deg, #c1c1c1 0%, #ffffff 50%, #ffffff 100%);
            bottom: 314px;
        }
        @media all and (max-width:580px){
            width: 96%;
            right: 2%;
        }
        &::before{
            content: '';
            position: absolute;
            right: 511px;
            z-index: 0;
            bottom: 17px;

            transform: rotateZ(118deg);
            border-width: 95px 20px 0px;
            border-style: solid;
            border-color: white transparent;
            display: block;
            @media all and (max-width:850px){
                bottom: -68px!important;
                right: 81px;
                transform: rotateZ(26deg);  
                border-width: 78px 14px 0px;
            }


        }
        .checked{
            background-color: rgb(212, 212, 212)!important;
        }
        .chat-button{
            z-index: 1;
            border-radius: 10px;
            background-color: transparent;
            border: none;
            padding: 5px 15px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
            text-decoration: none;
            color: black;
            transition-duration: 200ms;
            margin: 4px 4px;
            &:focus{
                outline: none!important;
            }
            &:hover{

                box-shadow: 1px 1px 4px black;
            }
        }
        #chat-span{
            margin-bottom: 15px;
        }
        span{
            font-family: $main-font;
            position: relative;
            @media all and (max-width:850px){
                font-size:13px; 
            }
        }
    }
@keyframes buble {
    0% {}
    13%  { transform: scale(1);}
    15% {transform: scale(1.02);}
    20% {transform: scale(1.0);}
    25% {transform: scale(1.01);}
    30% {transform: scale(1.0);}
    100% { transform: scale(1);}
}

}
.technologies{
    display: flex;
    flex-flow: wrap;
    margin-left: 0px;
    .stack{
        padding: 20px;
        font-size: 50px;
        text-align: center;
        width: 100%;
        height: 81px;
        z-index: 11;
        margin-left: 250px;
        @media all and (max-width:1090px){
         margin-left: 0; 
        }
        @media all and (max-width:780px){
            font-size: 40px;
            height: 130px;
            padding-right: 63px;
        }

        .typed2{
            font-family: $main-font;
        }
    }
    .swiper-container {
        align-self: flex-start;
        height: 90vh;
    .swiper-wrapper{
        z-index: 111111;
        position: relative;
        width: 100%;
        height: 100%;
        align-self: flex-start;
        .single-tech{
            border-radius: 10px;
            height: 350px;
            width: 700px;
            display: flex;
            margin: auto;
            flex-flow: column;
            background-color: rgba(78, 78, 78, 0.788);
            @media all and (max-width:1030px){
                width: 500px;
                height: 360px;
            }
            @media all and (max-width:650px){
                width: 300px;
                height: 350px;
            }
            @media all and (max-width:400px){
                width: 200px;
                height: 300px;
            }
            .text{
                box-sizing: border-box;
                padding: 113px 40px 25px;
                width: calc(50% - 50px);
                text-align: center;
                margin: auto;
                width: 100%;
                height: 100%;
                position: absolute;
                @media all and (max-width:560px){
                 width: 100%; 
                 padding: 60px 10px;
                }
                .title{
                    font-size: 30px;
                    padding: 10px;
                    @media all and (max-width:650px){
                        font-size: 20px;
                    }
                }
                .description{
                    font-size: 18px;
                    @media all and (max-width:650px){
                        font-size: 14px;
                    }
                    a{
                        color: white!important;
                    }
            }
        }
        .logo{
            position: relative;
            transform: translatey(-50%);
            margin-left: calc(50% - 100px);
            z-index: 11;
            @media all and (max-width:560px){
                margin-left: calc(50% - 50px);
            }
            img{
                width: 200px;
                filter: brightness(0.8);
                transition-duration: 300ms;
                @media all and (max-width:560px){
                filter: brightness(1);
                width: 100px;
                }
                &:hover{
                    transform: scale(1.2);
                    filter: brightness(1)!important;
                }
            }
            
        }
    }
}
    }
    .right{
        flex-flow: row-reverse;
        .text{
            text-align: start;
        }
    }
}
.projects{
    @media all and (max-width:830px){
        height: max-content;
        min-height: unset;
    }
    .projects-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        .project{
            z-index: 11;
            display: flex;
            margin: 12px;
            width: 527px;
            height: 300px;
            overflow: visible;
            transition-duration: 300ms;
            // transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
            @media all and (max-width:1360px){
                width: 390px;
                height: 236px;
            }
            img{
                width: 100%;
                position: initial!important;
                z-index: 1111;
            }
            .live{
                display: none;
                position: absolute;
                z-index: 111111;
                width: 0%;
                height: 0%;
                transition-duration: 1s;
                justify-content: center;
                font-size: 28px;
                left: 50%;
                top: 50%;
                text-align: center;
                justify-content: center;
                align-items: center;
                transition-duration: 1s;
                a{
                    color: transparent;
                    text-decoration: none;
                    padding: 0px;
 
                  
                      
                }
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            .visible{
                display: inline;
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                left: 0%;
                top: 0%;
                text-align: center;
                justify-content: center;
                align-items: center;
                transition-duration: 1s;
                a{
                    color: white;
                    text-shadow: 10px 10px 12px black;
                    font-weight: 700;
                    &:hover{
                        color: #cdcdcd;
                        transition-duration: 300ms;
                        font-weight: 900;
                    }
                }
            }
        }
        .expanded{
            transform: perspective(0px) rotateX(0deg) rotateY(10deg) scale3d(1, 1, 1)!important;
            overflow: visible;
         
        }
    }
}
.contact{
    form{
        display: flex;
        height: 100%;
        flex-flow: column;
        justify-content: center;
        .header-form{
            display: flex;
            padding: 60px;
            justify-content: center;
            @media all and (max-width:600px){
             padding: 15px 0 35px 0; 
            }
            .arrow2{
                width: 69px;
                position: relative;
                left: 16px;
                top: 40px;
                animation: arrow1 7s linear 2s infinite alternate;
                @media all and (max-width:600px){
                 animation: arrow2 7s linear 2s infinite alternate; 
                 top: 24px;
                 width: 40px;
                }
                }
                @keyframes arrow1 {
                    0%   {transform: rotate(-4deg);}
                    3%  {transform: rotate(4deg);}
                    6%   {transform: rotate(-4deg);}
                    9%  {transform: rotate(4deg);}
                    12%   {transform: rotate(-4deg);}
                    15%  {transform: rotate(4deg);}
                    20%  {transform: rotate(0deg);}
                    70%   {top: 38px;}
                    73%  {top: 43px;}
                    76%   {top: 38px;}
                    79%  {top: 43px;}
                    82%   {top: 38px;}
                    85%  {top: 43px;}
                    90%  {top: 40px;}
                    100% {transform: rotate(0deg);}
                }
                @keyframes arrow2 {
                    0%   {transform: rotate(-4deg);}
                    3%  {transform: rotate(4deg);}
                    6%   {transform: rotate(-4deg);}
                    9%  {transform: rotate(4deg);}
                    12%   {transform: rotate(-4deg);}
                    15%  {transform: rotate(4deg);}
                    20%  {transform: rotate(0deg);}
                    70%   {top: 23px;}
                    73%  {top: 27px;}
                    76%   {top: 23px;}
                    79%  {top: 27px;}
                    82%   {top: 23px;}
                    85%  {top: 27px;}
                    90%  {top: 24px;}
                    100% {transform: rotate(0deg);}
                }
            p{
                font-size: 50px;
                @media all and (max-width:600px){
                    font-size: 35px;
                }

            }
        }
    .form{
        display: flex;
        flex-flow: column;
        .field{
            padding: 20px;
            height: 44px;
            width: 600px;
            margin: 12px auto;
            border-radius: 32px;
            z-index: 1;
            
            &:focus{
                outline-offset: 0;
                outline: none;
            }
           
            @media all and (max-width:700px){
                width: 90%;
            }
        }
        .text{
            width: 800px;
            height: 150px;
            resize: none;
            @media all and (max-width:870px){
             width:90%; 
            }
        }
        input::placeholder {
            font-family: $main-font;
            color: black;
          }
        .typed-cursor{
            display: none!important;
        }
    .form-field{
        margin: auto;
        display: flex;
        flex-flow: row-reverse;
        color: black;
        @media all and (max-width:700px){
            width: 90%;
        }
            input:focus ~ .floating-label,
            input:not(:focus):valid ~ .floating-label{
                top: -8px;
                bottom: 100px;
                left: 22px;
                font-size: 11px;
                opacity: 1;
                font-family: $main-font;
                color: white;
            }

            .inputText {
            font-size: 14px;
            font-family: $main-font;
            color: black;

            }
    
            .floating-label {
                position: relative;
                pointer-events: none;
                left: 22px;
                top: 25px;
                width: 0px;
                transition: 0.2s ease all;
                font-family: $main-font;
                color: black;
                z-index: 11;
                @media all and (max-width:700px){
                    left: 45px;
                    color: black;
                }
            }
            .error{
                border-color: red;
            }
        
        }
        p{
            margin: auto;
            font-size: 25px;
        }
        .buttons{
            margin: auto;
            .btn{
                position: relative;
                height: 34px;
                width: 200px;
                margin: 10px;
                background-color: white;
                border-radius: 5px;
                font-family: $main-font;
                font-size: 17px;
                transition-duration: 300ms;
                margin-bottom: 50px;
                &:hover{
                    background-color: rgb(163, 163, 163);
                }
                @media all and (max-width:600px){
                    width: 125px; 
                }
            }
        }
    }
}
}

.hidden{
    display: none;

}
// @keyframes arrow {
//     0%   {bottom: 15px;}
//     5%  {bottom: 25px;}
//     10%   {bottom: 15px;}
//     15%  {bottom: 25px;}
//     20%   {bottom: 15px;}
//     25%  {bottom: 25px;}
//     30%  {bottom: 15px;}
//     100% {bottom: 15px;}
//   }


//   .main{
//     display: flex;
//     height: 100vh;
//     .main-left{
//         display: flex;
//         width: 0%;
//         z-index: 1;
//         #phone-transparent{
//             z-index: 1;
//             height: 650px;
//             transform: rotate(7deg);
//             position: absolute;
//             margin-left: 269px;
//             margin-top: 79px;
//             @media all and (max-width:1430px){
//                 margin-left: 0; 
//             }
//             @media all and (max-width:800px){
//                 transform: rotate(7deg) scale(0.8)!important;
//                     margin-left: 180px;
//             }
//             @media all and (max-width:520px){
//                 transform: rotate(-14deg) scale(0.8) !important;
//                 margin-left: 82px;
//             }
//         }
//     }
// }

// .phone-slider{
//     width: 284px;
//     height: 500px;
//     transform: rotate(7deg)!important;
//     position: absolute;
//     margin-left: 288px;
//     margin-top: 157px;
//     @media all and (max-width:1430px){
//      margin-left: 20px; 
//     }
//     @media all and (max-width:800px){
//         transform: rotate(7deg) scale(0.8)!important;
//         margin-left: 200px;
//     }
//     @media all and (max-width:520px){
//         margin-left: 102px;
//         transform: rotate(-14deg) scale(0.8) !important;
//     }
// }
// .box1{
//     position: relative;
//     left: 300px;
//     top: 300px;
//     .front-box{
//         position: absolute;
//         background-color: white;
//         transition-duration: 300ms;
//         width: 100px;
//         height: 100px;
//         border-radius: 100px;
//         z-index: 1;
//         p{
//             margin: calc(50% - 18px) auto;
//             text-align: center;
//         }
//     }
//     .back-box{
//         background-color: rgb(39, 39, 43);
//         width: 100px;
//         height: 100px;
//         border-radius: 100px;
//         transition-duration: 300ms;
//         z-index: 0;
//         transform: translateX(0%) rotate(500deg) scale(0);

//         p{
//             margin: calc(50% - 18px) auto;
//             text-align: center;
//         }
//     }
//     .expanded{
//         transition-duration: 300ms;
//         transform: translateX(130%) rotate(0deg) scale(1);
//     }
// }